# ignore all directories and files
*

# allow base directories
!/
!/.config/
!/script/

# allow conifg directories
!/.config/ghostty
!/.config/ghostty/**/
!/.config/hypr
!/.config/hypr/**/
!/.config/nvim
!/.config/nvim/**/
!/.config/kitty
!/.config/kitty/**/
!/.config/rofi
!/.config/rofi/**/
!/.config/sheldon
!/.config/sheldon/**/
!/.config/swayimg
!/.config/swayimg/**/
!/.config/waybar
!/.config/waybar/**/
!/.config/script
!/.config/script/**/
!/.config/wezterm
!/.config/wezterm/**/
!/.config/xmobar
!/.config/xmobar/**/
!/.config/yazi
!/.config/yazi/**/
!/.config/zathura
!/.config/zathura/**/
!/.config/zeno
!/.config/zeno/**
!/.config/zsh
!/.config/zsh/**/

# allow files inside allowed dirs
!**.gitignore
!**/README.md
!**/*.toml
!**/*.conf
!**/*.config
!**/*.lua
!**/*.json
!**/LICENSE
!**/*.jsonc
!**/*.py
!**/*.css
!**/conf
!**/*.zsh
!**/.zshenv
!**/.zshrc
!**/zathurarc

